<!DOCTYPE html>
<div class="form-view">
  <form method="post" action="/cadastro/funcionario/criar">
    <label>Nome:</label><input type="text" name="nome">
    <br><label>Email:</label><input type="text" name="email">
    <br><label>Senha:</label><input type="password" name="senha">
    <br><input type="submit" value="Cadastrar">
    <a href="/" style="text-decoration:none;">
      <input type="button" value="Cancelar">
    </a>
  </form>
</div>

<script>
  $(document).ready(function() {
    $("#cadastro").attr("class", "active");
    $(".page-header").html("Cadastro Funcionário");
  });
</script>
