<!DOCTYPE html>
<html>
  <head>
    <title>
      Service - Cadastro de usuário
    </title>
  </head>
  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
